[user]
    name = Tatsuya Fujisaki
    email = tatsuya.fujisaki@example.com
[core]
    excludesfile = ~/.gitignore
    editor = code -w
    autocrlf = input # Set "input" on Linux/Mac. Set "true" on Windows. https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
    # whitespace = cr-at-eol # prevents "git diff" on Windows from showing "^M".
[credential]
    helper = osxkeychain # sets "osxkeychain" on Mac. Set "wincred" on Windows, instead.
[fetch]
    prune = true
    pruneTags = true
    recurseSubmodules = true
[http]
    sslVerify = false
    emptyAuth = true # prevents "remote: HTTP Basic: Accesss denied" when cloning a repository. https://docs.gitlab.com/ee/integration/kerberos.html#http-basic-access-denied-when-cloning
[pull]
    rebase = true
[rebase]
    autosquash = true
    autostash = true
[diff]
    tool = vscode
[difftool]
    prompt = false
[difftool "vscode"]
    cmd = code -w -d $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool]
    prompt = false
[mergetool "vscode"]
    cmd = code -w $MERGED
[alias]
    a = add --all
    ar = archive -o output.zip HEAD
    b = branch --show-current # has been available since 2.22.
    ba = branch -a
    bd = branch -D
    bl = blame -L # <line-number> <file>
    bm = branch -m
    ca = commit -a -m
    caam = commit -a --amend -m # stages all changes and replaces the previous commit using the new commit message.
    caan = commit -a --amend --no-edit # stages all changes and replaces the previous commit reusing the existing commit message.
    cam = commit --amend -m # replaces the previous commit using the new commit message.
    can = commit --amend --no-edit # replaces the previous commit reusing the existing commit message.
    cb = clone -b
    cge = config --global -e # opens ~/.gitconfig
    cgl = config --global -l # lists all the variables in ~/.gitconfig
    cm = commit -m
    co = checkout
    cp = cherry-pick
    csol = config --show-origin -l
    dl = !git branch | grep -v master | grep -v develop | xargs git branch -D # "dl" means "delete local branches".
    dno = diff --name-only
    dns = diff --name-status
    dsd = diff --stat develop
    dt = difftool
    fd = fetch origin develop:develop
    l = log --graph --decorate --oneline
    lp = log -p --
    mt = mergetool
    pf = push -f
    pop = stash pop
    ra = rebase --abort
    rc = rebase --continue
    rd = !git fetch origin develop:develop && git rebase develop
    rgu = remote get-url # is normally followed by origin or upstream, which is an original repository you fork from.
    ri = rebase -i
    rsu = remote set-url # is normally followed by origin or upstream, which is an original repository you fork from.
    sb = show-branch
    sno = show --name-only
    sns = show --name-status
    st = stash -u # -u includes untracked files.
    sw = switch
    swc = switch -c
    # git clean:
    # -d is to delete untracked directories too.
    # git restore:
    # --staged is to undo staged changes.
    # --worktree is to undo unstaged changes.
    up = !git clean -d --force && git restore --staged --worktree . && git pull --all --autostash --rebase --recurse-submodules && git fetch --prune --prune-tags && git stash clear
    upfork = !git switch master && git rebase upstream/master
